{{!< default}}

<header id="main-header">
	<nav id="main-nav">
		<a class="subscribe" id="rss-link" href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i> RSS</a>
	</nav>
	<div class="inner">
		{{#if @blog.logo}}
			<a class="js-ajax-link js-show-index" id="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>
			<h1 class="page-title"><a class="js-ajax-link js-show-index" id="blog-logo-title" href="{{@blog.url}}">{{@blog.title}}</a></h1>
		{{else}}
			<h1 class="page-title"><a class="js-ajax-link js-show-index" id="page-title" href="{{@blog.url}}">{{@blog.title}}</a></h1>
		{{/if}}
	</div>
	{{#if @blog.cover}}
		<div class="site-cover" style="background-image: url({{@blog.cover}})"></div>
	{{/if}}
</header>

<div id="post-index" class="container">

	<main class="content" role="main">
	
		{{> "loop"}}
	
	</main>

</div>