{{!< default}}

<header id="main-header">
	<nav id="main-nav">
		<a class="js-ajax-link js-show-page" id="home-link" href="{{@blog.url}}/about/">About</a>
		<a class="subscribe" id="rss-link" href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i> RSS</a>
	</nav>
	<div class="inner">
		{{#if @blog.logo}}
			<a id="blog-logo" class="js-ajax-link js-show-index" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>
		{{/if}}
			<h1 id="blog-name"><a class="js-ajax-link js-show-index" href="{{@blog.url}}">{{@blog.title}}</a></h1>
		{{#if @blog.description}}
			<span id="blog-description">{{@blog.description}}</span>
		{{/if}}
	</div>
	{{#if @blog.cover}}
		<div class="site-cover" style="background-image: url({{@blog.cover}})"></div>
	{{/if}}
</header>

<div id="post-index" class="container">

	<main class="content" role="main">
	
		{{> "loop"}}
	
	</main>

</div>