{{!< default}}

<header id="main-header"{{#if @blog.cover_image}} class="has-cover"{{/if}}>
	<nav id="main-nav">
		<span id="nav-link">
			{{navigation}}
			<a class="subscribe" href="{{@blog.url}}/rss/"><i class="icon-rss"></i> RSS</a>
		</span>
	</nav>
	<a class="site-title" class="js-ajax-link js-show-index" href="{{@blog.url}}">
		{{#if @blog.logo}}
			<span class="site-logo"><img src="{{@blog.logo}}" alt="Logo" /></span>
		{{/if}}
			<h1 class="site-name">{{@blog.title}}</h1>
		{{#if @blog.description}}
			<span class="site-description">{{@blog.description}}</span>
		{{/if}}
	</a>
	{{#if @blog.cover_image}}
		<div class="site-cover" style="background-image: url({{img_url @blog.cover_image}})"></div>
	{{/if}}
</header>

<div id="post-index" class="container">

	<main class="content" role="main">
	
		{{> "loop"}}
	
	</main>

</div>
