{{!< default}}

{{#post}}

<header id="main-header">
	<nav id="main-nav">
		<a class="js-ajax-link js-show-index" id="home-link" href="{{@blog.url}}"><i class="fa fa-angle-left"></i> Home</a>
		<a class="subscribe" id="rss-link" href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i> RSS</a>
	</nav>
	{{#if @blog.cover}}
		<div class="site-cover" style="background-image: url({{@blog.cover}})"></div>
	{{/if}}
</header>

<main class="content" role="main">
	<div class="inner">

	    <article class="{{post_class}}">
			
			<header class="post-header">
				<h1 class="post-title">{{{title}}}</h1>
			</header>
		
			<section class="post-content">
				{{content}}
			</section>
	
	        {{/post}}
	
	    </article>
    </div>

</main>