{{!< default}}

<header id="main-header"{{#if @blog.cover_image}} class="has-cover"{{/if}}>
	<nav id="main-nav">
		<span id="home-link"><a class="js-ajax-link js-show-index" href="{{@blog.url}}"><i class="icon-arrow-left"></i> Home</a></span>
		<span id="nav-link">
			{{navigation}}
			<a class="subscribe" href="{{@blog.url}}/tag/{{tag.slug}}/rss/"><i class="icon-rss"></i> {{tag.name}}</a>
		</span>
	</nav>
	<div class="site-title">
		<h1 class="site-name">{{tag.name}}</h1>
	</div>
	{{#if @blog.cover_image}}
		<div class="site-cover" style="background-image: url({{img_url @blog.cover_image}})"></div>
	{{/if}}
</header>

<div id="post-index" class="container">

	<main class="content" role="main">
	
		{{> "loop"}}
	
	</main>

</div>