{{!< default}}

<header id="main-header">
	<nav id="main-nav">
		<span id="home-link"><a class="js-ajax-link js-show-index" href="{{@blog.url}}"><i class="icon-arrow-left"></i> Home</a></span>
		<span id="rss-link"><a class="subscribe" href="{{@blog.url}}/tag/{{tag.slug}}/rss/"><i class="icon-rss"></i> {{tag.name}}</a></span>
	</nav>
	<div class="site-title">
		<h1 class="site-name">{{tag.name}}</h1>
	</div>
	{{#if @blog.cover}}
		<div class="site-cover" style="background-image: url({{@blog.cover}})"></div>
	{{/if}}
</header>

<div id="post-index" class="container">

	<main class="content" role="main">
	
		{{> "loop"}}
	
	</main>

</div>